<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>X41822N</title>
    <link href="http://192.168.1.123:3000/web/layui/css/layui.css" rel="stylesheet">
    <link href="http://192.168.1.123:3000/web/stylesheets/style.css" rel="stylesheet">

</head>

<body class="body-all">
<header class="header">
    <ul class="layui-nav">
        <li>HomePage</li>
        <li class="layui-nav-item"><a href="">控制台</a></li>
        <li class="layui-nav-item"><a href="">个人中心</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改信息</a></dd>
                <dd><a href="javascript:;">设置</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item"><a href=""><img
                src="http://192.168.1.123:3000/web/images/logo.jpg" class="layui-nav-img">我</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改信息</a></dd>
                <dd><a href="javascript:;">设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">退出</a> </li>
    </ul>
</header>