<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>X41822N</title>
    <!-- <link href="http://localhost:3000/web/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="http://localhost:3000/web/layui/css/layui.css" rel="stylesheet">

</head>

<body class="layui-layout-body">


    
<header class="layui-header">
    <nav class="" role="banner">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a href="">控制台
                    <span class="layui-badge">9</span>
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="">个人中心
                    <div class="layui-badge-dot"></div>
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">我</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="javascript:;">修改信息</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">安全管理</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">退了</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </nav>
</header>