

<footer id="footer">
    <div class="layui-footer">
        <p>© 2017
            <a href="https://github.com/shaoshixin" target="_blank">GitHub</a></p>
    </div>
</footer>
<!-- <script src="http://localhost:3000/web/jquery-3.2.1.min.js"></script> -->
<!-- <script src="http://localhost:3000/web/bootstrap-3.3.7/bootstrap.min.js"></script> -->
<!-- <script src="http://192.168.20.176:3000/web/layui/layui.js"></script> -->
<script src="http://192.168.1.123:3000/web/layui/layui.js"></script>
<script>
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        // element.on('nav(demo)', function (elem) {
        //     console.log(elem)
        //     // layer.msg(elem.text());
        // });
    });
</script>
</body>

</html>