
.layui-nav{
  height: 50px;
  display: flex;
  /* justify-content:center; */
  align-items:Center;
  /* background-color: #00ffaa; */
}

.layui-main-footer,.layui-fluid-footer{
  display: flex;
  justify-content:center;
  align-items:Center;
  /* background-color: #00ffaa; */
}
