<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>X41822N</title>
    <link href="http://192.168.10.133:3000/web/layui/css/layui.css" rel="stylesheet">
    <link href="http://192.168.10.133:3000/web/stylesheets/style.css" rel="stylesheet">
</head>


<body class="body-all">

<div class="login-body">
    <div class="login">
        <form class="layui-form layui-form-login" name="login_form" method="post">
            <div class="login-logo">登录：</div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">账户： </label>
                    <div class="layui-input-inline">
                        <input type="text" lay-verify="required" name="username" placeholder="用户名"
                               autocomplete="on" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">密码： </label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" autocomplete="off" placeholder="******"
                               class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item"style="margin-top: 10px">
                <div class="layui-inline">
                    <button class="layui-btn"style="margin-left: 50px" lay-submit lay-filter="btn-login">登录</button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn"style="margin-left: 108px" id="btn-register">注册</button>
                </div>
            </div>
        </form>
    </div>

    <footer id="footer">
        <div class="layui-footer" style="display:none">
            <p>© 2017
                <a href="https://github.com/shaoshixin" target="_blank">GitHub</a>
            </p>

        </div>
    </footer>
</div>
<script src="http://192.168.10.133:3000/web/layui/layui.all.js"></script>
<script src="http://192.168.10.133:3000/web/js/js.js"></script>
</body>

</html>